<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Example title</title>
</head>

<body id="home">
	<h1>MVC example</h1>
	<ul>
		<%
			topBus.forEach((bus) => { %>
			<li><b><%= bus.showTestData() %></b></li>
		<% });
		%>
	</ul>
</body>
</html>